<ion-header>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="pokemom">
    <ion-img width="150" heigth="150" [src]="pokemom.pokemon.sprite"></ion-img>
    <ion-card-header class="ion-text-center">
      <ion-card-title class="ion-text-capitalize">
        {{pokemom.pokemon.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <ion-text class="text_principal">Tipo</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img [src]="'assets/img/' + pokemom.pokemon.type1 + '.gif'"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img *ngIf="pokemom.pokemon.type2" [src]="'assets/img/' + pokemom.pokemon.type2 + '.gif'"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <ion-text class="text_principal">Habilidad</ion-text>
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ng-container *ngFor="let item of pokemom.pokemon.abilities">
              <ion-text class="titulo_secundario t-1">{{item.ability.name}}</ion-text>
              <br>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <ion-text class="text_principal">Peso</ion-text>
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ion-text class="titulo_secundario t-2">{{pokemom.pokemon.peso/10 + ' kg'}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <ion-text class="text_principal">Altura</ion-text>
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ion-text class="titulo_secundario t-3">{{pokemom.pokemon.height/10 + ' m'}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text class="titulo-tercero">Estadisticas Bases</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text class="text_resultado">{{pokemom.pokemon.stats[0].base_stat + ' ' + pokemom.pokemon.stats[0].stat.name}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text class="text_resultado">{{pokemom.pokemon.stats[1].base_stat + ' ' + pokemom.pokemon.stats[1].stat.name}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text class="text_resultado">{{pokemom.pokemon.stats[2].base_stat + ' ' + pokemom.pokemon.stats[2].stat.name}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text class="text_resultado">{{pokemom.pokemon.stats[3].base_stat + ' ' + pokemom.pokemon.stats[3].stat.name}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text class="text_resultado">{{pokemom.pokemon.stats[4].base_stat + ' ' + pokemom.pokemon.stats[4].stat.name}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text class="text_resultado">{{pokemom.pokemon.stats[5].base_stat + ' ' + pokemom.pokemon.stats[5].stat.name}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button color="dark" (click)="goToHome()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
