.border{
    border-bottom: 2px solid rgb(255, 255, 255);
}

ion-list{
    background: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}